.footer {
    background-color: black;
    background-image: url(https://atelier-creative-webpage.vercel.app/images/a1d35cec137e34afa5adbf4e4ced4e01_footer-bg.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px
}
.footer-title {
    color: white;
    font-size: 45px !important;
    line-height: 55px !important
}
.w-form {
    margin: 0 0 15px
}

.w-form-done {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    display: none
}
.w-form-label {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 400;
    display: inline-block
}

.w-form-fail {
    background-color: #ffdede;
    margin-top: 10px;
    padding: 10px;
    display: none
}
.footer-form-block {
    margin-bottom: 0
}
.footer{
    margin-top: 5%;
}
.container-fuild {
    min-width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px
}
.container {
    max-width: 1330px;
    padding-left: 15px;
    padding-right: 15px
}
.first-footer {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    grid-template-rows: auto;
    grid-template-columns: 7fr 5fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid
}
.subscribe-form-btn {
    border-radius: 50px;
    background-color: #c0ff7e;
    color:black;
    background-image: url(https://atelier-creative-webpage.vercel.app/images/up-right-arrow.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 50px;
    height: 50px;
    transition: all .3s;
    position: absolute;
    top: 5px;
    right: 5px
}

.subscribe-form-btn:hover {
    background-color: var(--color--white)
}

.subscribe-form {
    position: relative
}
.subscribe-text-field {
    border-radius: 50px;
    color: white;
    background-color: #0000;
    border: 1px solid #ffffff40;
    height: 60px;
    padding-left: 25px;
    padding-right: 70px
}

.subscribe-text-field:focus {
    border-color: #ffffff40
}

.subscribe-text-field::placeholder {
    color: #a7a7a7
}
.w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block
}

.w-checkbox:before {
    content: " ";
    grid-area: 1/1/2/2;
    display: table
}

.w-checkbox:after {
    content: " ";
    clear: both;
    grid-area: 1/1/2/2;
    display: table
}

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal
}

.w-checkbox-input--inputType-custom {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 12px;
    height: 12px
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: #3898ec;
    background-image: url(../images/custom-checkbox-checkmark.589d534424.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #3898ec
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: 0 0 3px 1px #3898ec
}
.checkbox {
    cursor: pointer;
    border: 1px solid #fffc;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin-top: 6px
}

.checkbox.w--redirected-checked {
    border-color: var(--color--skin);
    background-color: var(--color--dark)
}

.checkbox.w--redirected-focus {
    box-shadow: 0 0 #0000
}

.checkbox-label {
    color:#acacac;
    margin-left: 6px
}
.success-message,
.error-message {
    background-color: #c0ff7e;
    color: black
}
.second-footer {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    grid-template-rows: auto;
    grid-template-columns: 4fr 5fr 3fr;
    grid-auto-columns: 1fr;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid
}
.footer-desc {
    color: #acacac;
    margin-top: 26px;
    margin-bottom: 26px
}
.footer-social-list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex
}
.footer-social-link {
    transition: all .3s
}

.footer-social-link:hover {
    transform: translateY(-8px) !important
}
.footer-widget-title {
    color:white;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px
}
.footer-list {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    margin-bottom: 0;
    padding-left: 0;
    display: flex
}
.footer-nav-link {
    color: #acacac;
    transition: all .3s
}

.footer-nav-link:hover {
    color: #c0ff7e
}
.footer-contact-link-block {
    margin-bottom: 5px
}
.footer-contact-link {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    transition: all .3s
}

.footer-contact-link:hover {
    color: #c0ff7e
}
.copyright-link {
        color: #acacac;
}

.copyright-link:hover {
    color: #c0ff7e
}
.footer-contact-link-block {
    margin-bottom: 5px
}
.footer-address-text {
    color:#acacac;
    margin-top: 20px
}
.bottom-footer {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px
}
.copyright {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex
}
.copyright-text {
    color: #acacac;
    font-size: 14px;
    line-height: 24px
}
.footer-nav-grid {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid
}
.footer-nav-link-2 {
        color: #acacac;
    font-size: 14px;
    line-height: 24px;
    transition: all .3s
}

.footer-nav-link-2:hover {
        color: #c0ff7e
}
.footer-nav{
    display: flex;
    gap: 20px;
}
.footer-logo{
    margin: 0;
}
.w-input,
.w-select {
    color: #333;
    vertical-align: middle;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857;
    display: block
}

.w-input::placeholder,
.w-select::placeholder {
    color: #999
}

.w-input:focus,
.w-select:focus {
    border-color: #3898ec;
    outline: 0
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
    cursor: not-allowed
}

.w-input[disabled]:not(.w-input-disabled),
.w-select[disabled]:not(.w-input-disabled),
.w-input[readonly],
.w-select[readonly],
fieldset[disabled]:not(.w-input-disabled) .w-input,
fieldset[disabled]:not(.w-input-disabled) .w-select {
    background-color: #eee
}

textarea.w-input,
textarea.w-select {
    height: auto
}

@media screen and (min-width: 1440px) {
    .footer-title {
        margin-right: 120px;
    }
}
@media (max-width:991px) {
        .second-footer {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 4fr;
        margin-top: 40px;
        padding-top: 40px;
        padding-bottom: 40px
    }
        .footer {
        padding-top: 60px
    }
        .container {
        max-width: 100%
    }
        .container-fuild {
        max-width: 100%
    }
        .first-footer {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 7fr
    }
        .footer-title {
        font-size: 40px;
        line-height: 50px
    }
        .copyright-text {
        text-align: center;
    }
    .copyright{
        flex-direction: column;
    }
}
@media screen and (max-width: 479px) {
        .footer-title {
        font-size: 30px;
        line-height: 40px
    }
        .subscribe-form-btn {
        margin-bottom: 15px
    }
}